In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from datetime import date
import datetime as dt

data = pd.read_csv('Data 2019.csv')
data['Sdate'] = pd.to_datetime(data['Sdate'], format='%d/%m/%Y %H:%M')
data.head()

,Sdate,Cosit,Period,LaneNumber,LaneDescription,LaneDirection,DirectionDescription,Volume,Flag Text
0,2019-01-01 00:00:00,9913,60,2,East Bound,2,NorthEast,52,Checked
1,2019-01-01 00:00:00,9913,60,1,West Bound,1,SouthWest,58,Checked
2,2019-01-01 01:00:00,9913,60,2,East Bound,2,NorthEast,58,Checked
3,2019-01-01 01:00:00,9913,60,1,West Bound,1,SouthWest,49,Checked
4,2019-01-01 02:00:00,9913,60,2,East Bound,2,NorthEast,27,Checked

In [69]:
east_bound = data[(data['LaneDescription'] == 'East Bound')
                  & (data['Sdate'] < pd.to_datetime("2019/02/01"))
                  & (data['Sdate'] > pd.to_datetime("2019/01/01"))][['Sdate', 'Volume']]


west_bound = data[data['LaneDescription'] == 'West Bound'][['Sdate', 'Volume']]


byday = east_bound.groupby(pd.to_datetime(east_bound.Sdate).dt.date).agg({'Volume': 'sum'}).reset_index() 
byday['Sdate'] = byday['Sdate'].apply(lambda x: dt.datetime.strftime(x, '%Y-%m-%d'))
byday['Sdate'].tolist()
byday['Volume'].tolist()

[1714,
 3491,
 3562,
 3715,
 3090,
 2333,
 3841,
 3815,
 3886,
 3834,
 4076,
 2974,
 2383,
 3608,
 4080,
 4395,
 4007,
 4496,
 3241,
 2397,
 4354,
 4512,
 4470,
 4618,
 3945,
 3188,
 2553,
 3546,
 3800,
 3887,
 3856]