In [32]:
import glob
import math
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping
import joblib

separator = ','
date_column = 'datum'


def read_all_weather():
    path = "D:/Szakdolgozat/SmartCity-master/weather/Janostol/"
    all_files = glob.glob(path + "/*.csv")

    csvs = []

    for file in all_files:
        csvs.append(pd.read_csv(file, sep=separator, index_col=None, header=0))

    return convert_to_date(pd.concat(csvs, axis=0, ignore_index=True))


def convert_to_date(data):
    data[date_column] = pd.to_datetime(data[date_column]).apply(lambda x: x.replace(second=0, microsecond=0))
    data[date_column] = data[date_column].apply(lambda x: x.replace(minute= (math.floor(x.minute / 10) * 10)))
    return data

In [33]:
df = read_all_weather()
df.sort_values(date_column, ascending=True).head(10)
df[df['telepules'] == 'k'][['datum', 'homerseklet']]

                    datum homerseklet
0     2020-01-01 00:00:00        -1.9
2     2020-01-01 00:10:00        -1.9
4     2020-01-01 00:20:00        -1.3
6     2020-01-01 00:30:00        -1.2
8     2020-01-01 00:40:00        -1.4
...                   ...         ...
74661 2020-09-17 13:50:00        30.6
74663 2020-09-17 14:00:00        30.4
74665 2020-09-17 14:10:00        30.6
74667 2020-09-17 14:20:00        30.6
74669 2020-09-17 14:30:00        30.7

[37439 rows x 2 columns]